.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

body {
  font-family: 'Saira Stencil One', sans-serif
}
.heading {
  font-weight: 700;
}
.subheading {
  font-weight: 300;
}

.module {
  background: 
    linear-gradient(
      rgb(83, 2, 2),
      rgba(224, 5, 5)
    );
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

.column {
  flex: 50;
  margin: 20px;
}

.row {
  display: flex;
}

.bg-image {
  background: url(static/marty_db.jpg) no-repeat center center fixed;
}

.fg-text {
  font-size: 2rem;
  font-weight: 400;
  color: white;
  padding: 30px;
}

.fg-text-bold {
  font-size: 3rem;
  font-weight: 50;
  color: yellow;
}